<div class="container">
  <p class="title is-2">Hakkında</p>
  <p class="subtitle is-4">Biz Kimiz?</p>
  <div class="columns">
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <figure class="image is-3by3">
            <img [src]="user" alt="User" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Şeref Küpeli</p>
              <p class="subtitle is-6">@serefkupeli</p>
            </div>
          </div>

          <div class="content">
           Kendisi ilham kaynağımız, üstadımız ve öğretmenimizdir.
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
